<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "View book", book %>
      <%= link_to "Edit", edit_book_path(book) %>
      <%= link_to "Delete", book, method: :delete%>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
